<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title> Add Employee</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

</head>

<body>

<div class="container">
  <h3>Employee Directory</h3>
  <hr>

  <p class="h4 mb-4">Add Employee</p>

  <form action="#" th:action="@{/employees/save}" th:object="${employee}" method="POST">

    <!--Add hidden form field to handle update-->

    <input type="hidden" th:field="*{id}">

    <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4"
           placeholder="First Name">
    <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4"
           placeholder="Last Name">
    <input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder="Email">


    <button type="submit" class="btn btn-info col-2">Add</button>

  </form>

  <hr>
  <a th:href="@{/employees/all}">Back to Employees</a>


</div>
</body>


</html>